/* header */
#header{
  /* outline: 1px solid tomato; */
  display: flex;
  justify-content: end;

  width: 95%;
  margin: 20px auto;
}

.text-section{
  /* outline: 1px solid tomato; */
  width: 30%;
  text-align: end;
}

.text-section .title-section{
  /* outline: 1px solid tomato; */
  display: flex;
  justify-content: end;
  margin-top: 10px;

}

.text-section img{
  /* outline: 1px solid tomato; */
  width: 30px;
  margin-right: 10px;
}

.text-section p{
  margin: 0;
}
.text-section .log-score{
  margin-top: 20px;
  color: blue;
}

.text-section .title{
  /* outline: 1px solid tomato; */
  font-weight: 900;
  font-size: 24px;
}

/* cards */
#cards{
  /* outline: solid 1px tomato; */

  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: auto;
}

/* card */
.card{
  flex: 0 1 6.8%;
  border: solid 2px #ccc;
  margin: 0.2%;
  height: 8vw;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .card inside */
.card .point{
  margin: 5%;
  /* padding: 5%; */
}

.card .point:last-child{
  transform: rotate(180deg);
}

.card img{
  width: 50%;
  align-self: center;
}

.back{
  background-image: url('https://assets-lighthouse.alphacamp.co/uploads/image/file/9222/ExportedContentImage_00.png');
  background-size: cover;
}

.matched-cards{
  background-color: #ccc;
}

.match-fail-cards{
  animation: wrongAnimation 0.2s 5;
}

@keyframes wrongAnimation {
  0% {}
  100% {border: 2px solid #ffd54f;}
}

/** Game finished **/
.completed {
  position: absolute;
  z-index: 999;
  top: 33vh;
  background-color: #FEAF67;
  width: 100vw;
  padding: 50px 0;
}
.completed > p {
  font-size: 1.5em;
  color: black;
  text-align: center;
  margin: 0;
}
.completed > p:first-child {
  font-size: 3em;
  font-weight: 700;
  color: #758d9a;
}